html{
  padding:0;
  margin: 0;
  overflow-x: hidden !important;
}
body{
  padding:0;
  margin: 0;
  overflow-x: hidden !important;
  background-color: #2C2C2C;
}


/* HeaderComponent */

.header-content{
  position: absolute;
  z-index: 2;
  justify-content: space-between !important;
  flex-wrap: wrap !important;

}
.header-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

}
.header-img>img{
  filter: blur(8px);
  transform: scale(1.1);
}  
.right{
  padding-top: 0 !important;
  padding-bottom: 0 !important; 
}

@media screen and (max-width: 900px) {
  
  .header-img{
    align-items: none;
    height: 100vh;
  }
  .header-img>img{
    height: 70vh !important;
    transform: scale(1.8) !important;    
  }
}


/* AboutComponent */

#About>p{
  color: #D9D9D9;
  font-size: larger;
  text-align: justify;
}
@media screen and (max-width: 550px) {
  #About{
    padding: 0 !important;
    margin: 1rem !important;    
  }
}


/* TechComponent */

.tech-content{
  width: 100vw;
  height: fit-content;
  background: linear-gradient(89.38deg, rgba(215, 255, 147, 0.5) -7.13%, rgba(236, 122, 122, 0.5) 101.36%);
  flex-wrap: wrap !important;
  align-items: center;
  justify-content: center;
}
.box{
  margin: auto;
  max-width: 1100px;  
}

.tech-content>.box>.row>.col>i{
  color: white;
  font-size: 100px;
}
.icon-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100vw/7) !important;
  height: fit-content;
  transition: 200ms all ease-in-out;
  overflow: hidden;
  padding: 2rem;
}
.icon-text{
  transform: translateY(200px);
  transition: 250ms all ease-in-out;
  color: white;
  cursor: default;
}
.icon-box:hover{
  background-color: rgba(255,255,255,0.2);
  border-radius: 12px;
}
.icon-box:hover>:last-child{
  transform: translateY(20px);
}

@media screen and (max-width: 900px) {
  .tech-content>.box>.row>.col>i{
    font-size: calc(60vw/7);
  }
}

@media screen and (max-width:750px){
  .desktop{display: none !important;}
  .icon-text{transform: translateY(20px);}
  .tech-content{overflow-x: auto !important;}
  .mobile{
    display: flex !important;
    flex-direction: row !important;
    width: max-content;
    gap: 1rem;
    color: white;
    overflow-x: auto !important;
    margin-left: -40px !important;    
  }
  .icon-box>i{
    font-size: 80px !important;    
  }
  .icon-box{
    width: 100px !important;    
  }
  .icon-box:hover{
    background-color: rgba(255,255,255,0) !important;
    border-radius: 0;
  }
}


/* FooterComponent */

footer{
  background-color:#373737;
}
.footer-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.footer-content>span>p{
  color: white !important;
  font-size: 12px;
  opacity: .8;
  margin: 0px;
  cursor: default;
}
.footer-content>.social-link{
  display: flex;
  flex-direction: row;
}
.footer-content>.social-link>a{
  font-size: 40px;
  color: white;
  transition: 200ms all ease-in-out;
}
.footer-content>.social-link>a:hover{
  transform: scale(1.1);
}
